html {
	font-family: g;
	font-weight: 300;
	height: 100%;
	background-color: $purple;
}

body {
	font-size: 1.562rem;
	margin: 0 $shoulder;
	color: $purple;
	line-height:1.5;
	position: relative;
	min-height: 100%;

	&.full-screen {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
	}

	@mixin atMedium {
		
	}

	&.page--menu {
		margin: 0;
		position:fixed;
		// top: $shoulder;
		// bottom: $shoulder;
		left: $shoulder;
		right: $shoulder;
		top: 0;
		bottom: 0;
		// left: 0;
		// right: 0;
	}
}

a {
	text-decoration: none;
}

.page {


	&--tutorial,
	&--all {
		background-color: $brown;
	}
	&--producers {
		background-color: $orange;
	}
	&--subjects {
		background-color: $yellow;
	}
	&--search {
		background-color: $white;
	}
}

.wrap {
	width: auto;
	padding: 1rem;

	p {
		margin: 1.5rem 0;
	}

	@mixin atSmall {
		width: 27rem;
		margin: 0 auto;
	}

	@mixin atMedium {
		width: 36rem;
		margin: 0 auto;
	}

	@mixin atLarge {
		width: 45rem;
		margin: 0 auto;
	}

	&--top-pad {
		padding-top: 6rem;
	}

}

.logo {
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 25px;

	@mixin atSmall {
		margin-left: 0;
	}

	& i {
	    margin-bottom: -9px;
	    position: absolute;
	    margin: 5px -25px;
	}

}