.footer {
	background-color: $purple;
	width: 100%;
	padding: 2rem 0;
	margin-top: 45px;

	&__link {
		color: $white;
	}

	&__icon {
		margin-right: 18px;

		@mixin atMedium {
			margin-left: -50px;
		}
	}
}