.latest {

	&__copy {

		& a {
			text-transform: uppercase;
			font-weight: 900;
			color: $white;
			background-color: $purple;
			padding: .33rem .475rem .125rem;
			margin: -.33rem .2rem -.125rem;

			&:hover {
				color: $purple;
				background-color: transparent;
			}
		}
	}

	&__links {

		& a {
			text-transform: uppercase;
			font-weight: 900;
			background-color: $purple;
			color: $white;
			padding: .33rem .475rem .125rem;
			margin: -.33rem .2rem -.125rem;
		}

	}

}