.link {
	text-decoration: none;
	color: $purple;
	font-weight: 900;
	text-transform: uppercase;
	padding: .33rem .475rem .125rem;
	margin: -.33rem -.475rem -.125rem;

	&--producer {
		color: $orange;
		background-color: $purple;
	}

	&--subject {
		color: $yellow;
		background-color: $purple;
	}

	&--title {
		color: $brown;
		background-color: $purple;
	}

	&--download {
		color: $white;
		background-color: $purple;
	}
	&:hover {
		color: $purple;
		background-color: transparent;
	}

	&--discussion {
		color: $white;
		background-color: $purple;
		display: block;
		margin: 25px auto;

		&:hover {
			color: $white;
			background-color: transparent;
		}
	}

	&.active {
		cursor: default;
		color: $purple;
		pointer-events: none;
		background-color: transparent;
	}

}