.menu {
	top: 0;
	bottom: 0;
	left: 1rem;
	right: 1rem;
	position: fixed;
	z-index: 18;
	visibility: hidden;

	&.menu--is-open {
		visibility: visible;
	}

	@mixin atMedium {
		& .wrap {
			padding: 0;
		}
	}

	&__latest {
		width: 100%;
		height: 22.22222222222%;
		background-color: $brown;
		position:relative;
		float:left;
		color: $purple;

		@mixin atMedium {
			width: 22.22222222222%;
			height: 100%;
		}
	}
	&__producers {
		width: 100%;
		height: 33.33333333333%;
		background-color: $orange;
		position:relative;
		float:left;
		color: $purple;

		@mixin atMedium {
			width: 33.33333333333%;
			height: 100%;
		}
	}
	&__subjects {
		width: 100%;
		height: 16.66666666666%;
		background-color: $yellow;
		float:left;
		position:relative;
		color: $purple;

		@mixin atMedium {
			width: 16.66666666666%;
			height: 100%;
		}
	}
	&__search {
		width: 100%;
		height: 27.77777777777%;
		background-color: $white;
		float:left;
		position:relative;
		color: $purple;

		@mixin atMedium {
			width: 27.77777777777%;
			height: 100%;
		}
	}

	& .path {
		transition: all .3s ease-out;
		top: 50%;
	    position: absolute;
	    text-align: left;
	    margin-left: $shoulder;
	    font-weight: 900;
	    text-transform: uppercase;
    	transform: translateY(-50%);

    	@mixin atSmall {
    		text-align: center;
		    margin: 0 auto;
		    width: 100%;
    	}

	    @mixin atMedium {
			top: 50%;
			padding-top: 0;
		    text-align: center;
		    font-weight: 900;
		    text-transform: uppercase;
		    transform: translateY(-50%);
	    }
	    &.path--open {
			transition: all .3s ease-out;
	    	top: 0;
	    	transform: translateY(0%);
			padding-top: $shoulder;
	    }

	}
}
