.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $purple;
	z-index: 10;
	color: $white;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-out;

	&--is-visible {
		opacity: 1;
		visibility: visible;
	}

	&__close {
		position: absolute;
		color: $white;
		font-weight: 900;
		text-transform: uppercase;
		right: 2rem;
		top: .6rem;
		z-index:18;

		&:hover {
			cursor: pointer;
		}
	}
}

.question i {
	position: absolute;
	color: $purple;
	font-weight: 900;
	text-transform: uppercase;
	right: 1rem;
	top: .6rem;

	&:hover {
		cursor: pointer;
	}

}
.about-section {
	padding: 0 2rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;

	@mixin atSmall {
		width: 27rem;
		margin: 0 auto;
	}

	@mixin atMedium {
		width: 36rem;
		margin: 0 auto;
	}

	@mixin atLarge {
		width: 45rem;
		margin: 0 auto;
	}
	
	& a {
	    background-color: #fff;
	    text-decoration: none;
	    color: $purple;
	    font-weight: 900;
	    text-transform: uppercase;
	    padding: .33rem .475rem .125rem;
	    margin: -.33rem 0 -.125rem;

	    &:hover {
	    	background-color: transparent;
	    	color: $white;
	    }
	}
}