.tutorial {
	margin: 3rem 0;

	&__thumb {
		position: relative;
		height: 135px;
		width: 100%;
		background-size: cover;
	    background-position: center center;
		
		@mixin atSmall {
			width: 14rem;
		}
		
		@mixin atMedium {
			display: inline-block;
		}
	}
	&__thumb.active {
		background-color: $purple;
	}

	&__icon {
		color: $white;
		font-size: 4.5rem;
		line-height: 4.5rem;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	&__meta {
		margin-left: 0;
		margin-top: 1rem;
		display: inline-block;
	    vertical-align: top;
		font-weight: 900;
		width: 100%;

		@mixin atMedium {
			width: 20rem;
			margin-left: 1rem;
			margin-top: 0;
		}

		@mixin atLarge {
			width: 29rem;
		}
		
	}

}